@model IEnumerable<pcbuild.Models.ViewModelBehuizing>

@{
    ViewBag.Title = "Behuizing";
    Layout = "~/Views/Shared/_LayoutController.cshtml";
}

<h2>Behuizingen</h2>

<table style="background-color:lightpink; border:solid 2px black;">
    <tr>
        <td>Naam</td>
        <td>interfaces</td>
        <td>vormfactor</td>
        <td>vormvoeding</td>
        <td>Prijs</td>
        <td>url</td>
        <td>webshop</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Behuizing_test.naam</td> 
            <td>@item.Behuizing_test.interfaces</td>
            <td>@item.Behuizing_test.vormfactor</td>
            <td>@item.Behuizing_test.vormvoeding</td>
            <td>@item.Verkrijgbaar_test.prijs</td>
            <td>@item.Verkrijgbaar_test.url</td>
            <td>@item.Webshop_test.naam</td>            
        </tr>
    }
</table>
<a href="@Url.Action("Index", "Opslag")">
    <button id="Volgende_Stap2" type="button">Volgende Stap</button>
</a>