@model IEnumerable<pcbuild.Models.VideokaartModels.ViewModelVideokaart>

@{
    ViewBag.Title = "Videokaarten";
    Layout = "~/Views/Shared/_LayoutController.cshtml";
}

<h2>Videokaarten</h2>

<table style="background-color:lightpink; border:solid 2px black;">
    <tr>
        <td>Naam</td>
        <td>GFX</td>
        <td>Geheugen</td>
        <td>Slots</td>
        <td>Prijs</td>
        <td>Link</td>
        <td>Webshop</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Videokaart_all.naam/td>
            <td>@item.Videokaart_all.gfx</td>
            <td>@item.Videokaart_all.geheugen</td>
            <td>@item.Videokaart_all.slots/<td>
            <td>@item.Verkrijgbaar_all.prijs</td>
            <td>@item.Verkrijgbaar_all.url</td>
            <td>@item.Webshop_all.naam</td>
        </tr>
    }
    <a href="@Url.Action("Index", "Werkgeheugen")">
        <button id="Volgende_Stap4" type="button">Volgende Stap</button>
    </a>
</table>