@model IEnumerable<pcbuild.Models.VideokaartModels.ViewModelVideokaart>

@{
    ViewBag.Title = "Videokaarten";
    Layout = "~/Views/Shared/_LayoutController.cshtml";
}


@ViewBag.Test
<ol class="progtrckr" data-progtrckr-steps="7">
       <li class="progtrckr-done">Processor</li><!--
    --><li class="progtrckr-done">Moederbord</li><!--
    --><li class="progtrckr-current">Videokaart</li><!--
    --><li class="progtrckr-todo">Werkgeheugen</li><!--
    --><li class="progtrckr-todo">Behuizing</li><!--
    --><li class="progtrckr-todo">Opslag</li><!--
    --><li class="progtrckr-todo">Voeding</li>
</ol>

<div style="border: 1px solid black"> <center> FILTERS </center> </div>

<table style="background-color:lightpink; border:solid 2px black;">
    <tr>
        <td>Naam</td>
        <td>GFX</td>
        <td>Geheugen</td>
        <td>Slots</td>
        <td>Prijs</td>
        <td>Webshop</td>
    </tr>

    @foreach (var item in Model)
    {
         <tr>
             <td>@item.Videokaart_all.naam</td>
             <td>@item.Videokaart_all.gfx</td>
             <td>@item.Videokaart_all.geheugen</td>
             <td>@item.Videokaart_all.slots</td>
             <td>@item.Verkrijgbaar_all.prijs</td>
             <td>@item.Webshop_all.naam</td>
             <td><a href='/werkgeheugen/Index?videokaart=@item.Videokaart_all.naam&prijs=@item.Verkrijgbaar_all.prijs&webshop=@item.Webshop_all.naam'> KIES </a></td>

        </tr>
        }
 
   

</table>


<div style="border: 1px solid black">

    Uw Lijst

    @if (Request.Cookies["processor_cookie"] != null)
    {

        <table style="border: 1px solid black">
            <tr>
                <td>Component</td>
                <td>Prijs</td>
            </tr>

            <tr>
                <td>@Request.Cookies["processor_cookie"].Value</td>
                <td>@Request.Cookies["processorprijs_cookie"].Value</td>
            </tr>

            <tr>
                <td>@Request.Cookies["moederbord_cookie"].Value</td>
                <td>@Request.Cookies["moederbordprijs_cookie"].Value</td>
            </tr>
            <tr>
                <td>@Request.Cookies["videokaart_cookie"].Value</td>
                <td>@Request.Cookies["videokaartprijs_cookie"].Value</td>
            </tr>
            <tr>
                <td>@Request.Cookies["werkgeheugen_cookie"].Value</td>
                <td>@Request.Cookies["werkgeheugenprijs_cookie"].Value</td>
            </tr>
            <tr>
                <td>@Request.Cookies["behuizing_cookie"].Value</td>
                <td>@Request.Cookies["behuizingprijs_cookie"].Value</td>
            </tr>
            <tr>
                <td>@Request.Cookies["opslag_cookie"].Value</td>
                <td>@Request.Cookies["opslagprijs_cookie"].Value</td>
            </tr>
            <tr>
                <td>@Request.Cookies["voeding_cookie"].Value</td>
                <td>@Request.Cookies["voedingprijs_cookie"].Value</td>
            </tr>

        </table>

    }
    else
    {
        <center> ERROR - Zet cookies aan om gebruik te maken van de lijst!  </center>
    }

</div>
