@model IEnumerable<pcbuild.Models.ProcessorModels.ViewModelProcessor>

@{
    ViewBag.Title = "Processor";
    Layout = "~/Views/Shared/_LayoutController.cshtml";
}


<ol class="progtrckr" data-progtrckr-steps="7">
       <li class="progtrckr-current">Processor</li><!--
    --><li class="progtrckr-todo">Moederbord</li><!--
    --><li class="progtrckr-todo">Videokaart</li><!--
    --><li class="progtrckr-todo">Werkgeheugen</li><!--
    --><li class="progtrckr-todo">Behuizing</li><!--
    --><li class="progtrckr-todo">Opslag</li><!--
    --><li class="progtrckr-todo">Voeding</li>
</ol>

<table style="background-color:lightpink; border:solid 2px black;">
    <tr>
        <td>Naam</td>
        <td>interfaces</td>
        <td>vormfactor</td>
        <td>vormvoeding</td>
        <td>Prijs</td>
        <td>url</td>
        <td>webshop</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Proccesor_m.naam</td>
            <td>@item.Proccesor_m.socket</td>
            <td>@item.Proccesor_m.kernen</td>
            <td>@item.Proccesor_m.kloksnelheid</td>
            <td>@item.Verkrijgbaar_m.prijs</td>
            <td>@item.Verkrijgbaar_m.url</td>
            <td>@item.Webshop_m.naam</td>
        </tr>
    }

    <a href="@Url.Action("Moederbord_Stap2", "Home")">
        <button id="Volgende_Stap2" type="button">Volgende Stap</button>
    </a>
</table>