@model IEnumerable<pcbuild.Models.ProcessorModels.ViewModelProcessor>

@{
    ViewBag.Title = "Processor";
    Layout = "~/Views/Shared/_LayoutController.cshtml";
}

<ol class="progtrckr" data-progtrckr-steps="7">
      <li onclick="javascript: history.back()" class="progtrckr-return">Vorige onderdeel</li><!--
    --><li class="progtrckr-current">Processor</li><!--
    --><li class="progtrckr-todo">Moederbord</li><!--
    --><li class="progtrckr-todo">Videokaart</li><!--
    --><li class="progtrckr-todo">Werkgeheugen</li><!--
    --><li class="progtrckr-todo">Behuizing</li><!--
    --><li class="progtrckr-todo">Opslag</li><!--
    --><li class="progtrckr-todo">Voeding</li>
</ol>

<div class="filters">
    
    <table>
        <tr>
            <td colspan="2" style="width:100%; height: 40px"><center><b>Filters</b></center></td>
        </tr>
        <tr>
            <td>Filter</td>
            <td>keuzes</td>
        </tr>
        <tr>
            <td>Filter</td>
            <td>keuzes</td>
        </tr>
        <tr>
            <td>Filter</td>
            <td>keuzes</td>
        </tr>
        <tr>
            <td>Filter</td>
            <td>keuzes</td>
        </tr>
    </table>

</div>

<div class="componenten">
<table class="componenten_table">
    <tr>
        <td colspan="6" style="width:100%; height: 40px"><center><b>Componenten</b></center></td>
    </tr>

    <tr>
        <td>Naam</td>
        <td>Socket</td>
        <td>Kernen</td>
        <td>Kloksnelheid</td>
        <td>Prijs</td>
    </tr>

        @foreach (var item in Model)
        {
            string uniek = item.GetHashCode().ToString();
            string uniekmethashtag = "#" + uniek;

            if (item.Proccesor_m.naam == item.Proccesor_m.naam)
            {

                <tr class="componententr" href="" data-toggle="modal" data-id="1" data-target=@uniekmethashtag>
                    <td>@item.Proccesor_m.naam</td>
                    <td>@item.Proccesor_m.socket</td>
                    <td>@item.Proccesor_m.kernen</td>
                    <td>@item.Proccesor_m.kloksnelheid</td>
                    <td>@item.Verkrijgbaar_m.prijs</td>

                    <div class="modal fade" id=@uniek tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">@item.Proccesor_m.naam</h4>
                                </div>
                                <div style="overflow: hidden" class="modal-body">
                                   
                                    <div class="modalcomponenteninfo">
                                        <b>Kernen:</b>  @item.Proccesor_m.kernen<br />
                                        <b>Kloksnelheid:</b> @item.Proccesor_m.kloksnelheid<br />
                                        <br />
                                        <b>Prijs:</b>   @item.Verkrijgbaar_m.prijs<br />
                                        <br />
                                        <b>Webshop:</b> @item.Webshop_m.naam<br />
                                    </div>

                                    <div style="background-image: url(http://i.imgur.com/CGzFjqq.png)" class="modalcomponentenafbeelding">
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-primary" href='/Moederbord/Reload?processor=@item.Proccesor_m.naam&socket=@item.Proccesor_m.socket&prijs=@item.Verkrijgbaar_m.prijs&webshop=@item.Webshop_m.naam' role="button">Kies onderdeel</a>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Sluiten</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </tr>
            }
        }

</table>
</div>

<div class="lijst">

    @if (Request.Cookies["processor_cookie"] != null)
    {

        <table>
            <tr>
                <td colspan="2" style="width:100%; height: 40px"><center><b>Uw Lijst</b></center></td>
            </tr>
            <tr>
                <td>Component</td>
                <td>Prijs</td>
            </tr>
            <tr>
                <td colspan="2" style="width:100%; height: 30px"><center>Processor</center></td>
            </tr>
            <tr style="font-style: italic; background-color: #C0C0C0">
                <td>@Request.Cookies["processor_cookie"].Value</td>
                <td>@Request.Cookies["processorprijs_cookie"].Value</td>
            </tr>
            <tr>
                <td colspan="2" style="width:100%; height: 30px"><center>Moederbord</center></td>
            </tr>
            <tr style="font-style: italic; background-color: #C0C0C0">
                <td>@Request.Cookies["moederbord_cookie"].Value</td>
                <td>@Request.Cookies["moederbordprijs_cookie"].Value</td>
            </tr>
            <tr>
                <td colspan="2" style="width:100%; height: 30px"><center>Videokaart</center></td>
            </tr>
            <tr style="font-style: italic; background-color: #C0C0C0">
                <td>@Request.Cookies["videokaart_cookie"].Value</td>
                <td>@Request.Cookies["videokaartprijs_cookie"].Value</td>
            </tr>
            <tr>
                <td colspan="2" style="width:100%; height: 30px"><center>Werkgeheugen</center></td>
            </tr>
            <tr style="font-style: italic; background-color: #C0C0C0">
                <td>@Request.Cookies["werkgeheugen_cookie"].Value</td>
                <td>@Request.Cookies["werkgeheugenprijs_cookie"].Value</td>
            </tr>
            <tr>
                <td colspan="2" style="width:100%; height: 30px"><center>Behuizing</center></td>
            </tr>
            <tr style="font-style: italic; background-color: #C0C0C0">
                <td>@Request.Cookies["behuizing_cookie"].Value</td>
                <td>@Request.Cookies["behuizingprijs_cookie"].Value</td>
            </tr>
            <tr>
                <td colspan="2" style="width:100%; height: 30px"><center>Opslag</center></td>
            </tr>
            <tr style="font-style: italic; background-color: #C0C0C0">
                <td>@Request.Cookies["opslag_cookie"].Value</td>
                <td>@Request.Cookies["opslagprijs_cookie"].Value</td>
            </tr>
            <tr>
                <td colspan="2" style="width:100%; height: 30px"><center>Voeding</center></td>
            </tr>
            <tr style="font-style: italic; background-color: #C0C0C0">
                <td>@Request.Cookies["voeding_cookie"].Value</td>
                <td>@Request.Cookies["voedingprijs_cookie"].Value</td>
            </tr>
            <tr>
                <td>Totale Prijs</td>
                <td>@Request.Cookies["totale_prijs_cookie"].Value</td>
            </tr>

        </table>
    }
    else { 
        <table>
            <tr>
                <td>Zet cookies aan om gebruik te maken van de lijst!</td>
            </tr>
        </table>
    }

</div>
